.footerColor{
    background-color: #ff5757;
    margin-top: 200px;
   
}
.FooterBold{
    font-weight: 800;
    font-size: 30px !important;
    margin-left: 20px !important;
    color:#FFFFFF !important;
    font-family: 'Lobster', cursive !important;
}
.links{
    color: lightgrey !important;
    margin-left: -10px !important;
}
.iconDiv{
    padding-top: 20px;
}
.Footericons{
   color: lightgrey;
   font-size: 40px !important;
   
}